*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(65, 65, 65);
    color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 3rem;
}

.rpsButton {
    width: 10rem;
    height: 10rem;
    font-size: 4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    margin: 0.5rem;
}

.alert-text {
    font-weight: bold;
    font-size: large;
    margin: 2rem;
}

/* Overall score DIV */
.score {
    display: flex;
}

.my-score {
    font-weight: bold;
    font-size: large;
    margin: 2rem;
}

.pc-score {
    font-weight: bold;
    font-size: large;
    margin: 2rem;
}

.btn-reset {
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    font-size: medium;
    color: black;
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 500ms ease-in-out;
}

.btn-reset:hover {
    color: white;
    background-color: black;
}

/* Media queries */
@media only screen and (min-width: 375px) and (max-width: 1000px) {
    h1 {
        margin: 1rem;
    }

}